$turquoise: #40E0D0;
$pale-turquoise: #afeeee;
$gainsboro: #dcdcdc;
$alice-blue: #f0f8ff;
$dark-grey: #21455E;
$dark-turquoise: #00CED1;
$dim-grey: #696969;
$light-grey: #d3d3d3;
$dark-cyan: #008b8b;
$background-container: #f4f9fb;