@import "./styles/variables.scss";

html {
  background-color: $alice-blue;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;

  body {
    margin: 0;
    padding: 0;
  }
}
